@import 'settings'
.pageImage
	width 100%
	height headerHeight
	overflow hidden
	& > img
		min-width 100%
		min-height 100%
.pageImage
.entryContentWrap
	float left
.entryContent
	padding 15px 45px
	display block
	&Wrap
		width 100%
		margin-top headerHeight
.entryHeader
	@extend $absolute
	@extend .slotWrap
	left 1vw
	top 65px

