//settings

@import 'node_modules/axis/axis/index'
@import 'node_modules/rupture/rupture/index'
@import 'node_modules/jeet/stylus/jeet/index'

$theme = {
	accent: #019B77,
	foreground: #3E3E3E,
	background: #FFF,
	alternateBackground: #F5F5F5
	}

outerPadding = 1vw
contentHeight = 67vh
headerHeight = 65px
$aThird = 33.333%

$relative
	position relative
$absolute
	position absolute
$onTop
	z-index 300	
$block
	display block
