@import 'layouts/index'
@import 'typography'
@import 'states'
@import 'behavior'
@import 'theme'
normalize()

body
//	background url(http://www.clickdummy.wp1.visual4.com/raich3/assets/img/screens/2014-12-10_Rechtsanwalt-Raich_Startseite.png) no-repeat 
	margin 0
ul
	list-style-type none
	padding 0
.screen-reader-text
	display none
.bannerImage
	opacity 1
.search-submit
	display none
